# requirements.txt - defines the python dependencies to be installed by pip
# from https://pypi.org/
# install django version that is at least version 3 but less than verison as to avoid introduce possible breaks with releases
Django>=3.1,<3.2
# insatll djangorestframework - for django restful html calls install the latest version  but not to exceed past a possible breaking version 
djangorestframework>=3.12.2,<3.20.0
# install mysql client
mysqlclient>=2.0,<2.2
# use for django connections to mysql and extra faetures
django-mysql>=3.0,<4.0
# handels server resource sharing in django - front end to back end
django-cors-headers>=3.5,<3.6
# used for python rabbit mq
pika>=1.1,<1.2
